<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Put your service name here. It will appear in the list of services in Services.msc -->
    <add key="ServiceName" value="DiceThrowService"/>
    <!-- This is the GUID or name of the ETW provider you wish to monitor. -->
    <add key="EtwProviderName" value="DiceThrowLog"/>
    <!-- True will log all events received from the ETW provider, False will only log certain events in WriteEvent() -->
    <add key="AllEventsFlag" value="True"/>
    <!-- The name of your Trace Event Session, one for each provider. In future, there may be more than one. -->
    <add key="TraceEventSessionName" value="DiceThrowMonitor"/>
    <!-- The GUID of your Application Insights ID. Change for your own instance. Allows write-access to Azure Application Insights. -->
    <add key="AppInsightsInstrumentationKey" value="2b8ce440-680d-48b8-8d65-a9ffbfeacadd"/>
  </appSettings>
</configuration>